.Home {
  width: 100%;
  overflow: hidden;
}

.home__container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
  position: relative;
}
.flower {
  position: absolute;
  height: 110.3rem;
  bottom: -8rem;
  right: -20rem;
}

.introduction {
  position: absolute;
  left: 0;
  top: 45%;
  transform: translateY(-50%);
  width: 545px;
  color: white;
  z-index: 2;
  margin-left: 10rem;
}

h4 {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 0;
}
h1 {
  line-height: 0rem;
  font-size: 6.4rem;
  font-weight: 700;
}
P {
  font-size: 2.4rem;
  font-weight: 300;
  word-wrap: normal;
  margin-bottom: 5rem;
  width: 38.8rem;
}
.contact__button {
  font-size: 2.4rem;
  font-weight: 300;
  word-wrap: normal;
  padding: 1.6rem 1.6rem;
  background: linear-gradient(315deg, #6f7ffc, #4aa4ff);
  border-radius: 4rem;
  text-decoration: none;
  color: white;
  transition: all 0.3s linear;
  cursor: pointer;
}

.contact__button:hover {
  filter: hue-rotate(90deg);
}

@media (max-width: 767px) {
  .introduction {
    margin: 0;
    margin-left: 3rem;
    width: 100%;
    top: 38%;
  }
  .flower {
    height: 80vh;
  }
  h4 {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 0;
  }
  h1 {
    line-height: 0rem;
    font-size: 3.8rem;
    font-weight: 700;
  }
  p {
    font-size: 1.8rem;
    font-weight: 500;
    word-wrap: normal;
    margin-bottom: 5rem;
    width: 90%;
    margin-right: 1rem;
  }
}
