.Projects {
  width: 100%;
  overflow: hidden;
}
.projects__container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rocket {
  position: absolute;
  left: -53%;
  top: -5%;
  transform: translate(-50, -50%);
}

.scroll {
  overflow-y: scroll;
  float: right;
  position: absolute;
  height: 80vh;
  bottom: 0;
  width: 100%;
  max-width: 1200px;
  right: 0;
  padding-bottom: 5rem;
}

.projects__List {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  list-style: none;
  color: white;
  margin: 2rem 0;
}

.projects__List p {
  font-size: 1.6rem;
}
.projects__List h3 {
  font-size: 3.2rem;
  font-weight: 700;
}

.left,
.right {
  padding: 0;
  margin: 0;
}

.right ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  max-width: 385px;
}

.right li {
  list-style-type: none;
  margin-right: 3rem;
  font-size: 1.6rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.right li p {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
}

.right li div {
  font-size: 2rem;
  width: 2rem;
  margin-right: 1rem;
  padding: 0;
}

.cta {
  margin-top: 2rem;
  padding: 1.6rem;
  font-size: 1.6rem;
  color: white;
  text-decoration: none;
  float: right;
  background: linear-gradient(315deg, #6f7ffc, #4aa4ff);
  border-radius: 4rem;
}

@media (max-width: 975px) {
  .projects__List {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 0;
    padding: 2rem;
  }

  .scroll {
    height: 90vh;
  }

  .rocket {
    height: 40vh;
    top: 0%;
    left: -10%;
  }
  .project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .left img {
    margin: 0 auto;
    width: 100%;
  }
}
