.hamburger {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
  z-index: 10000;
}

.burger {
  width: 2rem;
  height: 0.2rem;
  border-radius: 1rem;
  background-color: white;
  transform-origin: 0.1rem;
  transition: all 0.3s linear;
}
